
<header style="text-align:center">
  <h1><strong>TinyApp</strong></h1>
    <% if (!user) { %>
     <a href='/login'>Login</a>
     <a href='/register'>Register</a>
  <% } else { %>
    <h4><i><%= `Logged in as: ${user['email']}` %></i></h4>
    <form method="POST" action="/logout">
        <button>Logout</button>
    </form>
  <% } %>

</header>

