<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Register</title>
  </head>
  <header>
    <% include ./partials/_header %>
    <br>
    <h2 style="text-align:center">Register</h2>
  </header>
  <br><br><br>
  <body>
    <form style="margin-left: 35px;" method="POST" action="/register">
      <label style="font-size:19px;" for="email">Enter your email: &emsp;&ensp;&nbsp;&nbsp;</label>
      <input id="email" type="email" name="email" type="text" style="width:301px">
      <br>
      <label style="font-size:20px;" for="password">Enter your password:&nbsp;</label>
      <input id="password" type="password" name="password" type="text" style="width:300px">
      <input type="submit" value="submit">
    </form>

  </body>
</html>