<!DOCTYPE html>

<html lang="en">
<head>
  <title></title>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body>
  <ul>
      <li><%= `${longURL} - ${shortURL}` %></li>
  </ul>
  <a href='#'></a>
</body>
</html>