<!DOCTYPE html>

<html lang="en">
<head>
  <title></title>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body>
  <ul>
      <li><%= `${longURL} - ${shortURL}` %></li>
  </ul>
   <form action = <%= `/urls/${shortURL}/` %> method='POST' style='margin:150px;'>
      <label for='updatedLongURL'>Enter the updated URL: </label>
      <input id='updatedLongURL' type='text' name='updatedLongURL' placeholder='http://' style='width: 300px'>
      <input type='submit' value='Submit'>
    </form>
  <a href='#'></a>
</body>
</html>