<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
</head>
<header>
  <% include ./partials/_header %>
</header>
<br><br><br>
<body>
  <h3>
    <ul>
      <li>
          <%= `${longURL} - ${shortURL}` %>
          <form action=<%= `/urls/${shortURL}/` %> method="POST">
              <h4><i>
                <label for="updatedLongURL">Enter the updated URL: </label>
                <input id="updatedLongURL" type="text" name="updatedLongURL" placeholder="http://" style="width:300px">
                <input type="submit" value="Submit">
              </h4></i>
          </form>
      </li>
    </ul>
  <a href="#"></a>
  </h3>
</body>
</html>